@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Jomolhari&family=Marcellus&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

/* ////////////////////////////////////////////////////////// */

:root {
    --color-xanthous: #f7b623;
  --color-eerie-black: #1c191aff;
  --color-jet: #2f2b2aff;
  --color-coffee: rgb(116, 78, 54);
  --color-Licorice:#25191a;
  --color-bistre:#25191a;
  --color-goldenBrown:#a3742b;
  --color-silver:#abaaa8;

  --color-sealBrown:#613722;
  --color-whiteSmoke:#f7f6f3;
  --color-battleshipgray:#A19C97;
  --color-walnutBrown:#5E524A;
  --color-timeberwolf:#D9D5D0;

  /*Fonts  */
  --font-crimson-pro: 'Crimson Pro', serif;
  --font-jomolhari: 'Jomolhari', serif;
  --font-marcellus: 'Marcellus', serif;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-mukta: 'Mukta', sans-serif;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--primary-color-2);
    font-family: var(--paragraph-font);
    font-size: 16px;
    line-height: 1.5;
    /* fix thiss */
    background-image: linear-gradient(135deg, transparent 0%, transparent 6%,rgba(71, 71, 71,0.04) 6%, rgba(71, 71, 71,0.04) 22%,transparent 22%, transparent 100%),linear-gradient(45deg, transparent 0%, transparent 20%,rgba(71, 71, 71,0.04) 20%, rgba(71, 71, 71,0.04) 47%,transparent 47%, transparent 100%),linear-gradient(135deg, transparent 0%, transparent 24%,rgba(71, 71, 71,0.04) 24%, rgba(71, 71, 71,0.04) 62%,transparent 62%, transparent 100%),linear-gradient(45deg, transparent 0%, transparent 73%,rgba(71, 71, 71,0.04) 73%, rgba(71, 71, 71,0.04) 75%,transparent 75%, transparent 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
}


.nav-header{
    display: flex; /* Allow elements to stack horizontally */
    justify-content: space-between; /* Space items evenly */
    align-items: center; /* Align horizontally in the middle */
    padding: 0.5rem 1rem 0.5rem 0rem;
    width: 100vw;
    /* fix this */
    height:6.5rem; 
  
    }

.navbar-classic{
    background-color: #ffffff;
}    


/* js logic applied */
.nav-off{
  display: none;
}


    /* menu button */
.nav-toggle{
    border: none;   
    cursor: pointer;
    color: var(--accent-color-2);
    background-color: inherit;
    padding: 1rem;
    font-size: 1.2rem;
}


.close{
    color: white;
}
/* menu links */
.links{
    display: block;
    background-color: var(--accent-color-2);
    width: 100vw;
    overflow: hidden;
}
/* cccccccccccccccccccccccc */
.menu{
    display: none;
    background-color: var(--color-eerie-black);
}

.drop-down{
    display: block;
    height: 100vh;
    overflow: hidden;
}

.menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu li a{
    font-family: var(--font-marcellus), monospace;
    color: var(--color-goldenBrown);
    text-decoration: none;
    font-size: 1.2rem;
}
.menu li a:hover{
   color: var(--color-xanthous);
}
.menu li {
    margin-top: 1.5rem;
    margin-left: 1.3rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    line-height: 1.4;
}

.menu li:nth-last-child(2){
    margin-right: 2rem;
    border-bottom: 1px solid var(--color-coffee);
}

/* fix this */
.social-icons{
    display: block; 
    margin-top: 1.5rem;
    margin-left: 1.3rem;
    font-size: 1rem;
}


.fa-brands{
    color: var(--color-silver);
    padding-right: 15px;
}

.fa-brands:hover{
    color: #fff;
}

.hero {
    display: block;
    position: relative;
    width: 100%; /* Adjust the width as needed */
    height: 29.37rem; /* Adjust the height as needed */
    background-image: url('./pics/hero3.jpg'); /* Set the background image */
    background-size: cover;
    background-position: center;
    overflow: hidden;
    
  }
  

/* could have done to the btn itself */
 .hero::before{ 
 content: '';
 position: absolute;
 bottom: 2.2rem; /* Adjust this value to fine-tune the button's position */
 left: 50%; /* Positions the button horizontally at the center */
 transform: translateX(-50%); /* Centers the button horizontally */
  width: 182px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.3);
  filter: blur(1px); /* Adjust the blur amount as needed */
} 
.discover-btn {
    position: absolute;
    bottom: 2.2rem; /* Adjust this value to fine-tune the button's position */
    left: 50%; /* Positions the button horizontally at the center */
    transform: translateX(-50%); /* Centers the button horizontally */
    padding: 15px 15px;
    background-color: transparent; /* Button background color */
    letter-spacing: 3px;
    color: var(--color-xanthous);
    border: 2px solid var(--color-walnutBrown); /* Button border */
    font-family: var(--font-marcellus);
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
    z-index: 10;
    transition: font-size 0.3s ease;
  }
  /* Hover effect for the button */
  .discover-btn:hover {
    background-color: rgba(49, 34, 21, 0.8); /* Change background color on hover */
    color: #ffffff; /*rgb(212, 153, 98) text color on hover */
    border: 2px solid transparent;
    font-size: 1.5rem;
  }

.text-h{
    position: absolute;
    top: 10rem; /* Adjust this value to fine-tune the button's position */
    left: 50%; /* Positions the button horizontally at the center */
    transform: translateX(-50%);
    color: var(--color-eerie-black);
    background-color: var(--color-battleshipgray);
    font-family: var(--font-jomolhari), monospace;
    font-size: 2.1rem;
    width: 22rem;
}  

/* ramadan delight */
.delights{
        margin-top: 2rem;
        width: 80vw;
        height: 17rem;
        position: relative;
        background-image: url('./pics/delightss.png'); /* Set your image path */
        background-size: cover;
}

.rd-btn {
    position: absolute;
    top: 7.2rem; /* Adjust this value to fine-tune the button's position */
    left: 50%; /* Positions the button horizontally at the center */
    transform: translateX(-50%); 
    padding: 10px 200px;
    background-color: rgba(235, 172, 0, 0.3); /* Button background color */
    color: var(--color-bistre);
    letter-spacing: 3px;
    border: none; /* Button border */
    font-family: var(--font-marcellus);
    font-size: 1.5rem;
    cursor: pointer;
    text-transform: uppercase;
    z-index: 10;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}
  /* Hover effect for the button */
.rd-btn:hover {
    color: black; /* Change text color on hover */
    font-size: 1.6rem;
    background-color:
  }


/* beverages */
.bevs{
        margin-top: 2rem;
        width: 80vw;
        height: 25rem;
        position: relative;
        background-image: url('./pics/bevs2.jpg'); /* Set your image path */
        background-size: cover;
}

/* cookies */
.cookies{
    margin-top: 2rem;
    width: 80vw;
    height: 17rem;
    position: relative;
    background-image: url('./pics/cookies.jpg'); /* Set your image path */
    background-size: cover;
}

/* logo setting */
.logo{
    padding: 0;
    margin: 0;
}
/* About Us */
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-us{
    margin-top: 2rem;
    width: 80vw;
    height: 25rem;
    background-image: radial-gradient(circle at 13% 47%, rgba(32,27,27, 0.03) 0%, rgba(32,27,27, 0.03) 25%,transparent 25%, transparent 100%),radial-gradient(circle at 28% 63%, rgba(147,125,125, 0.03) 0%, rgba(147,125,125, 0.03) 16%,transparent 16%, transparent 100%),radial-gradient(circle at 81% 56%, rgba(65, 65, 65,0.03) 0%, rgba(65, 65, 65,0.03) 12%,transparent 12%, transparent 100%),radial-gradient(circle at 26% 48%, rgba(69,57,57, 0.03) 0%, rgba(69,57,57, 0.03) 6%,transparent 6%, transparent 100%),radial-gradient(circle at 97% 17%, rgba(150, 150, 150,0.03) 0%, rgba(150, 150, 150,0.03) 56%,transparent 56%, transparent 100%),radial-gradient(circle at 50% 100%, rgba(25, 25, 25,0.03) 0%, rgba(25, 25, 25,0.03) 36%,transparent 36%, transparent 100%),radial-gradient(circle at 55% 52%, rgba(69, 69, 69,0.03) 0%, rgba(69, 69, 69,0.03) 6%,transparent 6%, transparent 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
    position: relative;
}
.read-more{
    position: absolute;
    bottom: 2rem;
    color: red;
}

/* heritage */
.story-heri{
    margin-top: 2rem;
    margin-bottom: 0rem;
    width: 80vw;
    height: 10rem;
    background-image: linear-gradient(90deg, transparent 0%, transparent 8%,rgba(0,0,0, 0.05) 8%, rgba(0,0,0, 0.05) 21%,transparent 21%, transparent 100%),linear-gradient(45deg, transparent 0%, transparent 23%,rgba(0,0,0, 0.05) 23%, rgba(0,0,0, 0.05) 37%,transparent 37%, transparent 100%),linear-gradient(0deg, transparent 0%, transparent 37%,rgba(0,0,0, 0.05) 37%, rgba(0,0,0, 0.05) 49%,transparent 49%, transparent 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.history h1{
    text-transform: uppercase;
    font-size: 2rem;
    color: var(--color-sealBrown);
}

/* Cafe Menu */
.menubg{
    margin-top: 2rem;
    width: 80vw;
    height: 10rem;
    position: relative;
    background-image: url('./pics/img/hero12.jpg'); /* Set your image path */
    background-size: cover;
}
.mn-btn {
    position: absolute;
    bottom: 5.2rem; /* Adjust this value to fine-tune the button's position */
    left: 50%; /* Positions the button horizontally at the center */
    transform: translateX(-50%); /* Centers the button horizontally */
    padding: 10px 200px;
    background-color: transparent; /* Button background color */
    letter-spacing: 3px;
    color: var(--color-xanthous);
    border: none; /* Button border */
    font-family: var(--font-marcellus);
    font-size: 1.3rem;
    cursor: pointer;
    text-transform: uppercase;
    z-index: 10;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
  }

  /* Hover effect for the button */
  .mn-btn:hover {
    color: #ffffff; /* Change text color on hover */
    font-size: 2rem;
    background-color: transparent;
  }

  /* coffee sourcing */
.beans{
    margin-top: 2rem;
    width: 80vw;
    height: 20rem;
    position: relative;
    background-image: url(./pics/sourcing.jpg);
    background-size: cover;
}


/* query */
.history{
        margin: 2rem 0rem;
        margin-bottom: 6rem;
        width: 80vw;
        height: 10rem;
        background-color:rgb(219, 187, 127);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;  
}

/* footer */
footer{
   
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-eerie-black);
}
.footer{
    width: 100vw; height: 300px;
}

.foot-lg{
    display: flex;
    justify-content: center;
    align-items:  center;
}

.bt-border{
    margin: 0rem 2rem;
    border-bottom: 1px solid var(--color-coffee);
}
.foot-ln{
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-ln a{
    padding: 0 10px;
}
.ft-si{
    display: flex;
    justify-content: center;
    align-items:  center;
    margin-bottom: 2rem;
}

.ft-si a{
    padding:  0 10px;
}


/* check class to remove everything except dropdown nav */
.check{
    display: none;
}